.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
*/

body {
    background-color: hsl(30, 38%, 92%);
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 30px auto;
    background-color: white;
    border-radius: 15px;
    align-items: center;
}

#img-desktop {
    display: none;
}


img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 40%;
    margin-bottom: 10px;
}

.text-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
} 

.item-name, 
.disc-price {
    font-family: 'Fraunces', serif;
}
.item-name {
    margin-top: 0px;
    margin-bottom: 0px;
}
.item-category {
    font-family: 'Monsterrat', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
}

.item-description,
.price {
    font-family: 'Monsterrat', sans-serif;
    line-height: 30px;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
}

.price-wrap {
    display: flex;
    width: 99%;
    align-items: center;
    margin-top: -20px;
}

.disc-price {
    color: hsl(158, 36%, 37%);
    margin-right: 30px;
}

.price {
    text-decoration: line-through;
}

.button {
    display: flex;
    background-color: hsl(158, 36%, 37%);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    margin-bottom: 15px;
    color: white;
}
.button p {
    font-family: 'Monsterrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-left: 10px;
}

.button:hover {
    background-color: #1b4032;
}

@media screen and (min-width: 720px){
    .item-wrapper {
        width: 600px;
        flex-direction: row;
    }
    img {
        box-sizing: border-box;
        object-fit: fill;
        border-radius: 15px 0px 0px 15px;
        margin: 0 0 -5px 0;
    }
    .text-wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }
    #img-mobile {display: none;}
    #img-desktop {display: inline;}
    .item-wrapper {
        padding-bottom: 0px;
    }
}